.vs/
obj/
bin/
*.user
logs/
.idea/

release/BossModReborn/
release/BossModReborn.deps.json
release/BossModReborn.dll
release/BossModReborn.json
release/BossModReborn.pdb
release/DefaultRotationPresets.json
release/PInvoke.User32.dll
FFXIVClientStructs
